### Terraform ###
# Compiled files
*.tfstate
*.tfstate.backup
*.tfplan

# Module directory
.terraform/

# Ignore secrets (API keys etc)
secrets.auto.tfvars

# Ignore our zip file that is stored in S3
lambda.zip

# Ignore output.txt (generated if testing with AWS CLI as per README)
output.txt
